<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MercadoLibreTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53EB0D4B26293F99005A2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53EB0D6126293F9F005A2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53EB0D6C26293FA0005A2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
